:root {
    font-size: 27px;
    --bg-color: #323437;
    --text-dark-color: #909090;
    --text-light-color: #e3e3e3;
    --dark-color: #232427a9;
    --text-orange: rgba(255, 166, 0, 0.90);
}

body, * {
    
    box-sizing: border-box;
    margin: 0;
    
}
body {
    background: var(--bg-color);
    overflow-x: hidden;
}

body > * {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: .5rem 2rem;
    background: var(--bg-color) !important;

}

@media (max-width: 599px ) {
        body > * {
        padding: .5rem .5rem;
    }
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo > svg {
    width: 25px;
    height: 25px;
    color: var(--text-color);
}

a {
    text-decoration: none !important;
    color: none;
}
.wetype {
    font-family: 'Lobster', sans-serif;
    font-size: 1.3rem;
    color: black;
    transition: color 500ms ease-out;
    padding-left: 10px;
}

.logo-wetype {
    display: flex;

}

.wetype:hover {
    color: var(--text-dark-color) !important;
}

@media (max-width: 499px ) {
    .wetype {
        display: none;
    }
}

.logo-wetype > svg {
    width: 60px;
    height: auto;
    color: white;
    margin-bottom: 25px;
}


.header-profile {
    display: block;
}

.log-out > svg {
    width: 25px;
    color: var(--text-dark-color);
    cursor: pointer;
}

.log-out > svg:hover {
    color: var(--text-light-color);
}

.login-username {
    font-size: .8rem;
}

.user {
    color: var(--text-dark-color);
}

.user:hover, .user:hover > .logo > svg {
    color: var(--text-light-color)  !important;
}


#chooses {
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: auto;
    background: #292b2d;
    padding: 4px 20px 7px ;
    border-radius: 25px;
}

.choose {
    font-family: "Roboto", sans-serif;
    padding: 0 10px;
}

.two-option {
    padding: 0;
}

#choose-time {
    padding: 0 20px;
    border-right: 2px solid var(--text-dark-color);
}

.choose > button {
    padding: 0 .5rem;
    border: none;
    font-size: .6rem;
    color:  rgba(255, 255, 255, 0.5);
    background: #292b2d;
}

@media only screen and (max-width: 499px ) {
    #chooses {
    padding: 2px 10px 4px;

    }
    #choose-time {
        padding: 0 10px;
    }
    .two-option {
        padding: 0 !important;
    }
    .choose {
        padding: 0 5px;
    }
    .choose-time {
        padding: 0 5px;
    }
    
    .choose > button {
        padding: 0 .3rem;
    }
}

.choose > button:hover {
    color: rgb(246, 246, 246) !important;
}

main {
    background: var(--bg-color);
    height: 100%;
}

#info {
    display: flex;
}

#timer, #display-words {
    height: 35px;
    text-align: justify;
    margin-right: 20px;
    font-family: 'Bebas Neue', sans-serif;
    color: rgb(255, 202, 103);
}

.game-container, #result {
    padding-top: calc( 100vh * .1);
    width: auto;
    margin: auto;
    min-width: 300px;
    text-align: center;
}

.text-container {
    height: 120px;
    overflow: hidden;
    font-family: 'Roboto Condensed', sans-serif;
}


#text {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    text-align: justify;
    align-items: center;
    line-height: 40px;
    
    color: rgba(255, 255, 255, 0.385);
    padding: 0 5px;
    filter: blur(5px);
    outline: none;   
    transition: filter 2s ease;
    z-index: 2;
    user-select: none;
} 

.focus {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: .7rem;
    top: 40px;
    font-weight: 350;
    position: absolute;
    color: white;
    z-index: 999;
    pointer-events: none;
    user-select: none;
}

#text:focus {
    transition: filter 5ms ease;
    filter: blur(0px);
}


@keyframes blink {
    0% { opacity: 1; }
    70% { opacity: 0;}
    100% { opacity: 1;}
}

#cursor {
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    color: rgb(255, 247, 0);
    font-weight: 500;
    padding-bottom: 2rem;
    position: absolute;
}

.correct {
    color: white;
}

.incorrect {
    color: rgb(255, 0, 0);
}

.word {
  padding-right: 10px;  
} 

.incorrect-word {
    text-decoration: underline;
    text-decoration-color: red;
}

button.current {
    color: rgb(255, 192, 74) !important;
}

.error {
    color: red;
}


#restart-button {
    display: flex;
    justify-content: center;
}

#restart  {
    margin-top: 2rem;
    width: 1.2rem;
    font-size: 2rem;
    height: auto;
    color: white;
    transform: rotate(45deg);
    transition: transform, color, 500ms ease;
}

#restart:hover {
    transform: rotate(405deg);
    color: rgba(255, 166, 0, 0.900);
}

#result-detail {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.25);
}

.result-top {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-size: 4rem;
    line-height: 3rem;
}

@media only screen and (max-width: 699px) {
    .result-top {
        font-size: 3rem;
        line-height: 2.2rem;
    }

    .result-bottom {
        font-size: .8em;
    }

    .char-message {
        font-size: .5rem !important;
    }
}

.result-top > div {
    margin: 20px;
    display: inline-block;
    font-family: 'Bebas Neue', sans-serif;
}

.result-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    font-family: 'Bebas Neue', sans-serif;

}
.top {
    color: rgb(255, 192, 74);

}

.result {
    margin: 10px;
    transition: color 500ms ease;
}

.result:hover {
    cursor: pointer;
    color: rgb(255, 192, 74);
}

#result-character:hover > .char-message {
    opacity: 1;
}

.char-message {
    opacity: 0;
    font-size: .7rem;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    transition: opacity 500ms ease-in;
}

#next-game {
    font-size: 1.5rem;
    width: max-content;
    margin: auto;
    transition: color 300ms ease-in;
    font-weight: 800;
    font-family: 'Roboto', sans-serif;
}

#next-game:hover {
    color: rgb(255, 192, 74);
    cursor: pointer;
}

#next-game:hover > .next {
    opacity: 1;
}

#input-text {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 9898;
}

.next {
    opacity: 0;
}


.login-redirect {
    margin: 10px;
    color: white;  
    font-size: 18px;
}

.login-redirect > a {
    color: rgb(223,223,223);
}

.login-redirect > a:hover {
    text-decoration: underline !important;
}

.login {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;;
    align-items: flex-start;
    padding-top: calc(100vh * 0.20);
}

.login-width {
    max-width: 300px;
    width: 100%;
}

.form-control { 
    font-family: monospace;
    padding: 10px ;
    font-size: 16px;
    margin: 10px 0;
    background: #222325 !important;
    border: 2px solid transparent;
    color: white !important;

}

.login-error {
    font-size: .7rem;
    color: #b7b7b7;
}

.form-control[type='submit'] {
    margin-top: 20px;
    background: #0f0f0f !important;
    color: #b7b7b7;
    font-size: 20px;
    padding: 5px;
    font-family: 'Bebas Neue', sans-serif;
    border: 2px solid transparent;
}

.form-control[type='submit']:hover {
    background: #222325 !important;
}

.form-control:focus {
    border-color: #b7b7b7;
    box-shadow: none;
}

.title {
    font-family: monospace;
    color: #9b9b9b;
}

.profile-container {
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 699px) {
    .profile-user   {
        flex-wrap: wrap;
    }

    .profile {
        display: grid !important;
        grid-template-columns: auto auto ;
        grid-template-rows: auto  auto;
    }
    
}

@media only screen and (max-width: 569px ) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
        border-radius: 25px;
        justify-content: space-evenly;
        align-items: center;
        font-family: 'Roboto', sans-serif;
        background: #292b2d;
        border: 2px solid blue;
        margin-top: 20px ;
    }
}

.profile-user {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    background: var(--dark-color);
    border-radius: 25px;
    margin: 10px 0;
    min-width: 300px;
    border: 2px solid snow;
}

.profile-info {
    display: flex;
    align-items: center;
    width: max-content;
    margin-right: 20px;
}

.user-icon {
    width: 100px;
    height: max-content;
    margin: 20px; 
    color: white;
    background-color: rgb(71, 64, 64);
    border-radius: 50%;
    padding: 0;    
}

.username {
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    color: #cacaca;
}

.total-score {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
}

.total-score > div {
    padding: 10px 20px;
}


.game-small {
    font-size: .6rem;
    color: #939393;
}

.total-sum {
    font-size: 1.5rem;
    font-family: 'Bebas Neue', sans-serif;
    margin: 20px 0;
    text-align: center;
    line-height: 1rem;
    color: rgb(238, 238, 238);
}

@media  only screen and (min-width: 1300px) {
    .records {
        display: flex;
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1299px ) {
    .records {
        display: grid;
    }
}

.records {
    margin: 20px 0;
}

.profile {
    display: flex;
    padding: 20px;
    border-radius: 25px;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    background: var(--dark-color);
    border: 2px solid snow;
    margin-top: 20px ;
    
}

.tests {
    display: grid;
    grid-template-areas: 'type'
                        'speed'
                        'acc'  ;
    gap: 10px 5px;
    text-align: center;
    height: 180px;
    width: 135px;
    transition: font-size, color 1000ms ease;
}

.not-test {
    grid: grid;
    grid-template-rows: auto auto;
    height: 180px ;
    cursor: default;
    width: 135px;
    padding: 0 10px;
    text-align: center;
    font-size: .5rem;
    color: rgb(223,223,223);
    transition: color 500ms ease;
}

.not-test:hover > div {
    color: rgb(223,223,223);
}
.game-notest-type {
    padding-top: 5px;
    padding-bottom: 10px;
}

.game-notest {
    font-size: 1.2rem;
    color: var(--text-orange);
}

.game-type {
    grid-area: type;
}

.game-speed {
    grid-area: speed;
    color: var(--text-orange);
    font-size: 1.5rem;
    font-weight: 500;
}

.game-acc {
    grid-area: acc;
    color: var(--text-orange);
    font-size: 1.5rem;
    font-weight: 500;
}

.game-text {
    display: none;
}


.game-raw {
    grid-area: raw;
    display: none;
    font-weight: 500;
}

.game-time {
    grid-area: time;
    display: none;
}

.tests:hover  {
    grid-template-areas: 'type'
                        'speed'
                        'acc' 
                        'raw'
                        'time' ;
    gap: 5px;
}

.tests:hover > div {
    display: block ;
    color: rgb(223,223,223);
    font-size: .7rem !important;
}

.tests:hover > div > .game-precent {
    display: none !important;
}

.tests:hover > div > span {
    display: inline-block !important;
}

.table {
    min-width: 300px;
}

.table > thead {
    font-size: .7rem;
    color: rgb(185, 185, 185);
}

.table > tbody {
    font-size: .7rem;
}

.table > tbody > tr {

    color: var(--text-dark-color) !important;
}

@media (max-width: 800px) {
    .table-character {
        display: none;
    }
}

@media (max-width: 500px) {
    .table-raw {
        display: none;
    }
}

@media (max-width: 350px) {
    .table-id {
        display: none;
    }
}