:root {
    font-size: 27px;
}

body, * {
    
    box-sizing: border-box;
    margin: 0;
}
body {
    background: #323437;

}


body > * {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    padding: 1rem 2rem;
    background: #464337;

}

#header {
    display: flex;
    justify-content: space-between;
    background: #464337;

}
#logo {
    display: flex;
    /* width: 2rem; */
    font-size: 1rem;
    align-items: center;
    color: black !important;
    text-decoration: none !important;
    border: 2px solid rgb(194, 194, 126);

}

#logo > svg {
    width: 2rem;
    height: auto;
    border: 2px solid beige;
    padding: 0;
    margin: 0;
    color: inherit;
    
}


#user > svg {
    color: blue;
    width: 1.2rem;
    height: auto;
}

#time {
    width: max-content;
    margin: auto;
    padding: .3rem 2rem;
    border-radius: 25px;
    /* border: 2px solid rgb(44, 44, 44); */
    background: rgba(100, 96, 96, 0.582);
}


#time > button {
    border: none;
    font-size: .7rem;
    color:  rgba(255, 255, 255, 0.5);
    background: rgba(0, 0, 0, 0);
    /* padding: 0; */
    /* margin: .1rem .3rem .2rem .3rem; */
}

#time > button:hover {
    color: rgb(246, 246, 246) !important;
}


main {
    background: #464337;
    height: 100%;
}


#timer {
    height: 35px;
    text-align: justify;
}


.game-container, #result {
    padding-top: calc( 100vh * .15);
    
    width: auto;
    margin: auto;
    /* max-width: 1000px; */
    min-width: 300px;
    text-align: center;
}


.text-container {
    height: 105px;
    overflow: hidden;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Roboto Condensed', sans-serif;
    /* font-weight: 200; */
    /* font-family: 'Roboto Mono', monospace; */
    /* font-weight: 200; */

}


#text {
    display: flex;
    flex-wrap: wrap;
    font-size: 1rem;
    text-align: justify;
    align-items: center;
    line-height: 35px;
    /* font-weight: 300  !important; */
    
    color: rgba(255, 255, 255, 0.385);

    filter: blur(5px);
    padding: 0 1rem;
    outline: none;   
    transition: filter 2s ease;
    z-index: 2;
    user-select: none;

} 


.focus {
    display: block;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: .7rem;
    top: 40px;
    font-weight: 350;
    position: absolute;
    color: white;
    z-index: 999;
    pointer-events: none;
    user-select: none;
    /* border: 2px s++olid white; */
}


#text:focus {
    transition: filter 5ms ease;
    filter: blur(0px);
}






@keyframes blink {
    0% { opacity: 1; }
    70% { opacity: 0;}
    100% { opacity: 1; }
}



#cursor {
    animation-name: blink;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    color: rgb(255, 247, 0);
    /* font-size: 1.2rem; */
    font-weight: 500;
    padding-bottom: 2rem;
    /* line-height: 35px; */
    position: absolute;
    /* user-select: none; */
    /* z-index: 343; */

}




.correct {
    color: white;

}

.incorrect {
    color: rgb(255, 0, 0);
    border-color: red;
}


.word {
  padding-right: 10px;  

} 

.incorrect-word {
    text-decoration: underline;
    text-decoration-color: red;
}

button.current-time {
    color: yellow !important;
}

.error {
    color: red;
}


#restart-button {
    /* margin-top: 2rem; */
    display: flex;
    justify-content: center;
   /* border: 2px solid yellow ; */

}

#restart  {
    margin: 1rem;
    width: 1.2rem;
    font-weight: bolder;
    height: auto;
    color: white;
    transform: rotate(45deg);
    transition: transform, color, 500ms ease;
}


#restart:hover {
    transform: rotate(60deg);
    color: yellow;

}




#result-detail {
    display: flex;
    font-size: 1rem;
    color: rgb(255, 192, 74);
}

#result-top {
    display: flex;
    font-size: 4rem;
}

/* #next-game {
    padding: 2rem;
    width: max-content;
    margin: auto;
} */