{% extends 'writing/layout.html'%}

{% block title %}
WeType
{% endblock %}

{% block body %}
    <main>


            <div id="chooses" >
                <div class="two-option choose" id="options">
    
                    <button id="choose-word">Word</button>
                    <button id="choose-time">Time</button>
                </div>
                <div class="word choose" id="word">
                    <button data-choose="10">10</button>
                    <button data-choose="25">25</button>
                    <button data-choose="50">50</button>
                    <button data-choose="100">100</button>
                </div>
                <div class="choose" id="time">
                    <button data-choose="15">15</button>
                    <button data-choose="30">30</button>
                    <button data-choose="60">60</button>
                    <button data-choose="120">120</button>
                </div>
    
             </div>

        <div class="game-container">
            <div id="info">
                <div id="display-words"></div>
                <div id="timer"></div>

           </div>
            
            <div class="text-container">
            

                   <div   id="text"  tabindex="0"  ></div>
                <span class="focus" style="display: none;">

                    Click here to Focus</span>
                <div id="cursor">|</div>
            </div>
            <div id="restart-button"> 
                <svg id="restart" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                  </svg>
            </div>
        </div>

        <div id="result">
            <div id="result-detail">
                <div class="result-top">

                    <div class="result top" id="result-wpm">
    
                    </div>
                    <div class="result top" id="result-accuracy">
    
                    </div>
                </div>
                <div class="result-bottom">
                    <div class="result" id="result-type"></div>
                    <div class="result" id="result-raw"></div>
                    <div class="result" id="result-character"></div>
                    <div class="result" id="result-time"></div>
                </div>
                {% if not user.is_authenticated %}
                <div class="login-redirect">

                    <a href="{% url 'login' %}">Log In</a> to save your progress
                </div>
                {% endif %}
                <div id="next-game"><span class="next">Next</span> > <span class="next">Game</span> </div>
            </div>
        </div>


    </main>

{% endblock %}