{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'writing/styles.css' %}" rel="stylesheet">
    <script src="{% static 'writing/script.js' %}" type="application/javascript"></script>
    <title>We Type</title>
</head>
<body>
    <div class="container">
        <div class="navbar">

        </div>

        <div class="option">

        </div>

        <div class="typing">
            
        </div>




    </div>
</body>
</html>