{% extends 'writing/layout.html' %}


{% block title %}
WeType - Profile
{% endblock %}

{% block body %}
    <!-- <div>Totat test: {{tests.all.count }} </div> -->
    {% for value, test in time.items %}
    <div>
        {% if test %}
        <div>
            Test Type: <span>{{value }}</span>
        </div> 
        <div>
            Speed: <span>{{ test.speed }} </span>
        </div>
         <div>
            Accuracy: <span>{{ test.accuracy }}  {{ value }} </span>
        </div> 
        <div>
            Characters: <span> {{ test.character }} </span>

        </div>

        <div>
            Time: <span> {{ test.time }} </span>
        </div>
        {% endif %}
    </div>
    {% endfor %}

    {% for value, test in words.items %}
    <div>

        {% if test %}
        <div>
            Test Type: <span>{{value }}</span>
        </div> 
        <div>
            Speed: <span>{{ test.speed }} </span>
        </div>
         <div>
            Accuracy: <span>{{ test.accuracy }}  {{ value }} </span>
        </div> 
        <div>
            Characters: <span> {{ test.character }} </span>
        </div>
        <div>
            Time: <span> {{ test.time }} </span>
        </div>
        {% endif %}
    </div>

    
    {% endfor %}
{% endblock %}